body {
    background-color: #feeeec;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #d29494;
    font-weight: 400;
}

.h1-link:link {
    color: #d29494;
    text-decoration: none;
    text-align: center;
}

.h1-link:visited {
    color: #d29494;
}

.h1-link:hover {
    color: #ff6b6b;
    text-decoration: underline;
}

.h1-link:active {
    color: #ff6b6b;
} 

.top-link:link {
    color: #d29494;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.top-link:visited {
    color: #d29494;
}

.top-link:hover {
    color: #ff6b6b;
    text-decoration: underline;
}

.top-link:active {
    color: #ff6b6b;
}

.top-box {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 20px 0;
}

h1 {
    font-size: 2.5em; 
    color: #d29494;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #d29494;
    text-align: center;
}

#pic-of-me, #bird-pic {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    border: 10px solid #ff6b6b;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid #ff6b6b;
}

.movies:hover {
    opacity: 0.5;
}

footer {
    text-align: center;
    margin: 20px 0;
}

.footer-link:link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #d29494;
}

.footer-link:visited {
    color: #d29494;
}

.footer-link:hover {
    text-decoration: underline;
    color: #ff6b6b;
}

.footer-link:active {
    color: #ff6b6b;
}

.box {
    display: flex;
    justify-content: center;
    width: 400px;
    border: 10px solid #ff6b6b;
    padding: 50px;
    margin: auto;
}

#boogie-facts {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
