a {
    text-decoration: none;
    color: #c53939;
  }

  a:hover {
    text-decoration: underline;
    color: #ff6b6b;
  }

  a:active {
    color: black;
  }

  #bear:hover {
    opacity: 0.8;
  }

  #bow:hover {
    opacity: 0.8;
  }

  #svg-text {
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia;
  }
